<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Magic Ciencias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/huella.jpg" />
        <ion-card-content>
          <ion-card-title>
            Animales domesticos
          </ion-card-title>
          <p>
            Los animales domésticos son pequeños o grandes animales que pueden llegar a ser domesticados por el hombre
            y, por tanto, convivir con ellos
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/babosa.jpg" />
        <ion-card-content>
          <ion-card-title>
            Babosa
          </ion-card-title>
          <p>
            Las babosas terrestres son moluscos
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/burro.png" />
        <ion-card-content>
          <ion-card-title>
            Burro
          </ion-card-title>
          <p>
            El burro es un animal doméstico
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/buho.jpg" />
        <ion-card-content>
          <ion-card-title>
            Buho
          </ion-card-title>
          <p>
            Estas aves habitan en casi todos los lugares del planeta,
            excepto en la Antártida.
            Se alimentan de: peces, insectos, ratones, lagartijas y otros animales.
            Estas aves son nocturnas, y pueden cazar en la oscuridad.
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/caballo.png" />
        <ion-card-content>
          <ion-card-title>
            Caballo
          </ion-card-title>
          <p>
            El caballo ​​ es un animal domesticado
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/camello.png" />
        <ion-card-content>
          <ion-card-title>
            Camello
          </ion-card-title>
          <p>
            Los camellos son animales nativos de zonas secas y desérticas de Asia
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/canario.png" />
        <ion-card-content>
          <ion-card-title>
            Canario
          </ion-card-title>
          <p>
            Los canarios son aves muy populares como mascotas,
            debido a que son pájaros fáciles de cuidar y aportan alegría al hogar.
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/caracol.png" />
        <ion-card-content>
          <ion-card-title>
            Caracol
          </ion-card-title>
          <p>
            LLos caracoles son uno de los primeros tipos de animales que se conoce habitan nuestro planeta
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/cerdo.png" />
        <ion-card-content>
          <ion-card-title>
            Cerdo
          </ion-card-title>
          <p>
            El cerdo es un animal mamífero que puede encontrarse en estado salvaje o doméstico.
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/cordero.png" />
        <ion-card-content>
          <ion-card-title>
            Cordero
          </ion-card-title>
          <p>
            Los corderos son animales domesticados
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/gallina.png" />
        <ion-card-content>
          <ion-card-title>
            Gallina
          </ion-card-title>
          <p>
            Las gallinas son animales domesticados, se encuentran en granjas
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/gallo.png" />
        <ion-card-content>
          <ion-card-title>
            Gallo
          </ion-card-title>
          <p>
            Los gallos son animales domesticados, se encuentran en granjas.
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/hamnser.jpg" />
        <ion-card-content>
          <ion-card-title>
            Hamster
          </ion-card-title>
          <p>
            Los hamsters son animales domesticos pequeños
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/lombriz.png" />
        <ion-card-content>
          <ion-card-title>
            Lombriz
          </ion-card-title>
          <p>
            La lombriz de tierra, de color gris rojizo, es un animal familiar para todo aquel que tenga un jardín
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/loro.jpg" />
        <ion-card-content>
          <ion-card-title>
            Loro
          </ion-card-title>
          <p>
            Los loros y aves afines cantan, bailan, nos imitan y nos roban el corazón
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/mariposa.jpg" />
        <ion-card-content>
          <ion-card-title>
            Mariposa
          </ion-card-title>
          <p>
            Los mariposas son domesticas.
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/mosca.png" />
        <ion-card-content>
          <ion-card-title>
            Mosca
          </ion-card-title>
          <p>
            Las moscas son insectos voladores que han evolucionado para convivir en asociación con el hombre
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/mosquito.png" />
        <ion-card-content>
          <ion-card-title>
            Mosquito
          </ion-card-title>
          <p>
            El mosquito es un insecto que se encuentra en todas partes del mundo
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/oveja.png" />
        <ion-card-content>
          <ion-card-title>
            Oveja
          </ion-card-title>
          <p>
            Las ovejas son animales domesticos, se encuentran en granjas
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/pato.jpg" />
        <ion-card-content>
          <ion-card-title>
            Pato
          </ion-card-title>
          <p>
            Los patos son aves domesticas, se encuentran en granjas.
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/perro.png" />
        <ion-card-content>
          <ion-card-title>
            Perro
          </ion-card-title>
          <p>
            Los perros son animales domesticos y son el mejor amigo del hombre
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/pez.png" />
        <ion-card-content>
          <ion-card-title>
            Pez
          </ion-card-title>
          <p>
            Los peces son animales domesticos.
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/pollo.png" />
        <ion-card-content>
          <ion-card-title>
            Pollo
          </ion-card-title>
          <p>
            Los pollos son animales domesticos.
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/rana.jpg" />
        <ion-card-content>
          <ion-card-title>
            Rana
          </ion-card-title>
          <p>
            Algunas ranas son domesticas.
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/raton.png" />
        <ion-card-content>
          <ion-card-title>
            Raton
          </ion-card-title>
          <p>
            Algunos ratones son domesticos.
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/toro.jpg" />
        <ion-card-content>
          <ion-card-title>
            Toro
          </ion-card-title>
          <p>
            Los toros son animales domesticos, se encuentran en granjas.
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/vaca.png" />
        <ion-card-content>
          <ion-card-title>
            Vaca
          </ion-card-title>
          <p>
            Las vacas son animales domesticos, se encuentran en granjas.
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

  </ion-slides>

  <!-- Animales Salvajes-->
  <ion-slides pager>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/huella.png" />
        <ion-card-content>
          <ion-card-title>
            Animales Salvajes
          </ion-card-title>
          <p>
            Los animales salvajes viven en libertad, ya sea en un entorno acuático o terrestre.
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/abeja.png" />
        <ion-card-content>
          <ion-card-title>
            Abeja
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/balllena.jpg" />
        <ion-card-content>
          <ion-card-title>
            Ballena
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/cangrejo.png" />
        <ion-card-content>
          <ion-card-title>
            Cangrejo
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/canguro.jpg" />
        <ion-card-content>
          <ion-card-title>
            Canguro
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/castor.jpg" />
        <ion-card-content>
          <ion-card-title>
            Castor
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/cebra.jpg" />
        <ion-card-content>
          <ion-card-title>
            Cebra
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/ciervo.jpg" />
        <ion-card-content>
          <ion-card-title>
            Ciervo
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/cisne.jpg" />
        <ion-card-content>
          <ion-card-title>
            Cisne
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/cocodrilo.png" />
        <ion-card-content>
          <ion-card-title>
            Cocodrilo
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/delfin.jpg" />
        <ion-card-content>
          <ion-card-title>
            Delfin
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/elefante.jpg" />
        <ion-card-content>
          <ion-card-title>
            Elefante
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/escarabajo.jpg" />
        <ion-card-content>
          <ion-card-title>
            Escarabajo
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/escorpion.png" />
        <ion-card-content>
          <ion-card-title>
            Escorpion
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/foca.jpg" />
        <ion-card-content>
          <ion-card-title>
            Foca
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/garza.jpg" />
        <ion-card-content>
          <ion-card-title>
            Garza
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/grillo.jpg" />
        <ion-card-content>
          <ion-card-title>
            Grillo
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/guila.jpg" />
        <ion-card-content>
          <ion-card-title>
            Aguila
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/hormiga.png" />
        <ion-card-content>
          <ion-card-title>
            Hormiga
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/jirafa.png" />
        <ion-card-content>
          <ion-card-title>
            Jirafa
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/koala.jpg" />
        <ion-card-content>
          <ion-card-title>
            Koala
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/leon.jpg" />
        <ion-card-content>
          <ion-card-title>
            Leon
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/mapache.jpg" />
        <ion-card-content>
          <ion-card-title>
            Mapache
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/mariquita.png" />
        <ion-card-content>
          <ion-card-title>
            Mariquita
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/mono.png" />
        <ion-card-content>
          <ion-card-title>
            Mono
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/nuria.jpg" />
        <ion-card-content>
          <ion-card-title>
            Nutria
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/oso.png" />
        <ion-card-content>
          <ion-card-title>
            Oso
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/pinguino.png" />
        <ion-card-content>
          <ion-card-title>
            Pinguino
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/serpiente.jpg" />
        <ion-card-content>
          <ion-card-title>
            Serpiente
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/tiburon.jpg" />
        <ion-card-content>
          <ion-card-title>
            Tiburon
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/tigre.png" />
        <ion-card-content>
          <ion-card-title>
            Tigre
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/tortuga.png" />
        <ion-card-content>
          <ion-card-title>
            Tortuga
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/salvajes/zorro.jpg" />
        <ion-card-content>
          <ion-card-title>
            Zorro
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

  </ion-slides>

</ion-content>



<ion-footer>
  <ion-toolbar>
    <!--Tabs-->
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="eye" routerLink="/home">
          <ion-icon name="eye" color="secondary"></ion-icon>
          <ion-label>Sentidos</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="cube" routerLink="/materiales">
          <ion-icon name="cube" color="warning"></ion-icon>
          <ion-label>Materiales</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="contacts" routerLink="/humano">
          <ion-icon name="contacts" color="primary"></ion-icon>
          <ion-label>Ser Humano</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="leaf" routerLink="/plantas">
          <ion-icon name="leaf" color="success"></ion-icon>
          <ion-label>Plantas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="paw" routerLink="/animales">
          <ion-icon name="paw" color="tertiary"></ion-icon>
          <ion-label>Animales</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>