<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Magic Ciencias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Arboles-->
  <ion-slides pager>

    <ion-slide>
      <ion-card>
        <img src="assets/Plantas/ARBOLES/ARBOL1.jpg" />
        <ion-card-content>
          <ion-card-title>
            Arbol
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="leaf" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Plantas/ARBOLES/ARBOL2.jpg" />
        <ion-card-content>
          <ion-card-title>
            Arbol
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="leaf" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Plantas/ARBOLES/ARBOL3.jpg" />
        <ion-card-content>
          <ion-card-title>
            Arbol
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="leaf" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Plantas/ARBOLES/ARBOL4.png" />
        <ion-card-content>
          <ion-card-title>
            Arbol
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="leaf" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Plantas/ARBOLES/ARBOL5.jpg" />
        <ion-card-content>
          <ion-card-title>
            Arbol
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="leaf" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

  </ion-slides>
  <!--Plantas-->
  <ion-slides pager>

    <ion-slide>
      <ion-card>
        <img src="assets/Plantas/ARBUSTOO/PLANTA 1.jpg" />
        <ion-card-content>
          <ion-card-title>
            Planta
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="leaf" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Plantas/ARBUSTOO/PLANTA 2.jpg" />
        <ion-card-content>
          <ion-card-title>
            Planta
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="leaf" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Plantas/ARBUSTOO/PLANTA 3.jpg" />
        <ion-card-content>
          <ion-card-title>
            Planta
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="leaf" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Plantas/ARBUSTOO/PLANTA 4.jpg" />
        <ion-card-content>
          <ion-card-title>
            Planta
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="leaf" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

  </ion-slides>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="eye" routerLink="/home">
          <ion-icon name="eye" color="secondary"></ion-icon>
          <ion-label>Sentidos</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="cube" routerLink="/materiales">
          <ion-icon name="cube" color="warning"></ion-icon>
          <ion-label>Materiales</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="contacts" routerLink="/humano">
          <ion-icon name="contacts" color="primary"></ion-icon>
          <ion-label>Ser Humano</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="leaf" routerLink="/plantas">
          <ion-icon name="leaf" color="success"></ion-icon>
          <ion-label>Plantas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="paw" routerLink="/animales">
          <ion-icon name="paw" color="tertiary"></ion-icon>
          <ion-label>Animales</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>