<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      Magic Ciencias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Formas-->
  <ion-slides pager>

    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/formas/CILINDRO 1.png" />
        <ion-card-content>
          <ion-card-title>
            Cilindro
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="cube" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/formas/CILINDRO 1.png" />
        <ion-card-content>
          <ion-card-title>
            Cilindro
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="cube" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/formas/CILINDRO.png" />
        <ion-card-content>
          <ion-card-title>
            Cilindro
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="cube" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/formas/CILLINDRO FIGURA.jpg" />
        <ion-card-content>
          <ion-card-title>
            Cilindro
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="cube" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/formas/CIRCULO 2.jpg" />
        <ion-card-content>
          <ion-card-title>
            Circulo
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="cube" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/formas/CIRCULO FIGURA.png" />
        <ion-card-content>
          <ion-card-title>
            Circulo
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="cube" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/formas/CIRCULO.jpg" />
        <ion-card-content>
          <ion-card-title>
            Circulo
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="cube" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/formas/CUADRADO 1.png" />
        <ion-card-content>
          <ion-card-title>
            Cuadrado
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="cube" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/formas/CUADRADO.jpg" />
        <ion-card-content>
          <ion-card-title>
            Cuadrado
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="cube" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/formas/CUADRADOO 2.png" />
        <ion-card-content>
          <ion-card-title>
            Cuadrado
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="cube" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/formas/CUADRADOO FIGURA.png" />
        <ion-card-content>
          <ion-card-title>
            Cuadrado
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="cube" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/formas/OBALADO.png" />
        <ion-card-content>
          <ion-card-title>
            Obalo
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="cube" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/formas/RECANGULO.png" />
        <ion-card-content>
          <ion-card-title>
            Rectangulo
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="cube" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/formas/RECTANGULO 1.png" />
        <ion-card-content>
          <ion-card-title>
            Rectangulo
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="cube" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/formas/RECTANGULO 2.png" />
        <ion-card-content>
          <ion-card-title>
            Rectangulo
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="cube" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/formas/RECTANGULO FIGURA.png" />
        <ion-card-content>
          <ion-card-title>
            Rectangulo
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="cube" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/formas/RECTANGULO.png" />
        <ion-card-content>
          <ion-card-title>
            Rectangulo
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="cube" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/formas/REDONDO.png" />
        <ion-card-content>
          <ion-card-title>
            Redondo
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="cube" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/formas/TRANGULO.png" />
        <ion-card-content>
          <ion-card-title>
            Triangulo
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="cube" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/formas/TRIANGULO FIGURA.jpg" />
        <ion-card-content>
          <ion-card-title>
            Triangulo
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="cube" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="eye" routerLink="/home">
          <ion-icon name="eye" color="secondary"></ion-icon>
          <ion-label>Sentidos</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="cube" routerLink="/materiales">
          <ion-icon name="cube" color="warning"></ion-icon>
          <ion-label>Materiales</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="contacts" routerLink="/humano">
          <ion-icon name="contacts" color="primary"></ion-icon>
          <ion-label>Ser Humano</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="leaf" routerLink="/plantas">
          <ion-icon name="leaf" color="success"></ion-icon>
          <ion-label>Plantas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="paw" routerLink="/animales">
          <ion-icon name="paw" color="tertiary"></ion-icon>
          <ion-label>Animales</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>