<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Magic Ciencias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Colores-->
  <ion-slides pager>

    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/colores/colores.png" />
        <ion-card-content>
          <ion-card-title>
            COLORES
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

  </ion-slides>
  <!--colores primarios-->
  <ion-slides pager>

    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/colores/primarios/amarilllo.png" />
        <ion-card-content>
          <ion-card-title>
            Color Primario: amarillo
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/colores/primarios/azul.png" />
        <ion-card-content>
          <ion-card-title>
            Color Primario: azul
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/colores/primarios/rojo.png" />
        <ion-card-content>
          <ion-card-title>
            Color Primario: rojo
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

  </ion-slides>
  <!--Colores secundrios-->
  <ion-slides pager>

    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/colores/secundarios/naranjado.png" />
        <ion-card-content>
          <ion-card-title>
            Color secundario: naranjado
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/colores/secundarios/verde.jpg" />
        <ion-card-content>
          <ion-card-title>
            Color secundario: verde
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/colores/secundarios/violeta.jpg" />
        <ion-card-content>
          <ion-card-title>
            Color secundario: violeta
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

  </ion-slides>
  <!--Olores-->
  <ion-slides pager>

    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/olores/descarga.jpg" />
        <ion-card-content>
          <ion-card-title>
            Agradable
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/olores/olores agradables.jpg" />
        <ion-card-content>
          <ion-card-title>
            Agradable
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/olores/olores desagradables 1.jpg" />
        <ion-card-content>
          <ion-card-title>
            Desagradable
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/olores/olores desagradables 2.jpg" />
        <ion-card-content>
          <ion-card-title>
            Desagradable
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/olores/oloresdesagradables.jpg" />
        <ion-card-content>
          <ion-card-title>
            Desagradable
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/olores/ooloores agradables.jpg" />
        <ion-card-content>
          <ion-card-title>
            Agradable
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

  </ion-slides>
  <!--Sabores-->
  <ion-slides pager>

    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/sabores/acido.png" />
        <ion-card-content>
          <ion-card-title>
            Acido
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/sabores/amargo.png" />
        <ion-card-content>
          <ion-card-title>
            Amargo
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/sabores/dulce.png" />
        <ion-card-content>
          <ion-card-title>
            Dulce
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/sabores/salado.png" />
        <ion-card-content>
          <ion-card-title>
            Salado
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

  </ion-slides>
  <!--Sonidos-->
  <ion-slides pager>

    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/sonido/sonidos suabes.jpg" />
        <ion-card-content>
          <ion-card-title>
            Sonidos suabes
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/sonido/sonios altos.jpg" />
        <ion-card-content>
          <ion-card-title>
            Sonidos altos
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-slides pager>

    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/temperatura/calor.jpg" />
        <ion-card-content>
          <ion-card-title>
            Calor
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/Sentidos/temperatura/frio.jpg" />
        <ion-card-content>
          <ion-card-title>
            Frio
          </ion-card-title>
          <p>

          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="eye" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="eye" routerLink="/home">
          <ion-icon name="eye" color="secondary"></ion-icon>
          <ion-label>Sentidos</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="cube" routerLink="/materiales">
          <ion-icon name="cube" color="warning"></ion-icon>
          <ion-label>Materiales</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="contacts" routerLink="/humano">
          <ion-icon name="contacts" color="primary"></ion-icon>
          <ion-label>Ser Humano</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="leaf" routerLink="/plantas">
          <ion-icon name="leaf" color="success"></ion-icon>
          <ion-label>Plantas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="paw" routerLink="/animales">
          <ion-icon name="paw" color="tertiary"></ion-icon>
          <ion-label>Animales</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>