<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Magic Ciencias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Animales domesticos-->
  <ion-slides pager>

    <ion-slide>
      <ion-card>
        <img src="assets/Animales/domesticos/huella.jpg" />
        <ion-card-content>
          <ion-card-title>
            Animales domesticos
          </ion-card-title>
          <p>
            Los animales domésticos son pequeños o grandes animales que pueden llegar a ser domesticados por el hombre
            y, por tanto, convivir con ellos
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name="paw" item-start large></ion-icon>
        </ion-item>
      </ion-card>
    </ion-slide>

  </ion-slides>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="eye" routerLink="/home">
          <ion-icon name="eye" color="secondary"></ion-icon>
          <ion-label>Sentidos</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="cube" routerLink="/materiales">
          <ion-icon name="cube" color="warning"></ion-icon>
          <ion-label>Materiales</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="contacts" routerLink="/humano">
          <ion-icon name="contacts" color="primary"></ion-icon>
          <ion-label>Ser Humano</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="leaf" routerLink="/plantas">
          <ion-icon name="leaf" color="success"></ion-icon>
          <ion-label>Plantas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="paw" routerLink="/animales">
          <ion-icon name="paw" color="tertiary"></ion-icon>
          <ion-label>Animales</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>